@font-face {
	font-family: "Comic Sans MS";
	src: url('../font/LDFComicSans.ttf');
}
html, body {
	width: 100%;
	height: 100%;
	background-color: #dadada;
}
.arc canvas {
    max-width: 83%;
    max-height: 83%;
}
body table td {
	font-family:'Comic Sans MS';
}
.title {
	color:#999494;
}
.arc {
	width:100%;
	height:95%;
	font-family:'Comic Sans MS';
	line-height: 1.0;
}
.intiCircle {
	background-image:url('../img/bgCircle2.png');
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center center;
}
.waktuTempuh {
	position: absolute;
	top: 35%;
	left: 0;
	width: 100%;
	font-size: 40px;
}
.outdoors {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	font-size: 15px;
}
.target {
	color: white;
}
.scoreIcon {
	background-image:url('../img/scoreboard.png');
	background-repeat:no-repeat;
	background-size:75% auto;
	background-position:center;
}
.treeIcon {
	background-image:url('../img/tree.png');
	background-repeat:no-repeat;
	background-size:75% auto;
	background-position:center;
}