html, body {
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: komik;
	src: url('../font/LDFComicSans.ttf');
}

/*Login page*/
#containerlogin{
	background-color: #89B6C4;
	width:100%;
	height:100%;
}

#edge{
	width: 13%;
}

#titlelogin{
	height: 30%;
	width: 74%;
	text-align: center;
}

#inputlogin{
	height: 10%;
	width: 74%;
	text-align: center;
}

#buttonlogin{
	height: 20%;
	width: 74%;
}

/*End Login page*/

/*========================================================*/

/*ListBluetooth*/
#containerlist{
	width:100%;
	height:100%;
}

#titlelist{
	height: 25%;
	width: 100%;
	text-align: center;
	font-family: "komik";
}

#description{
	height: 18%;
	width: 100%;
	padding-bottom: 10%;
}

#judultitle{
	font-size: 10pt;
}

#desktitle{
	font-size: 7pt;
	color: #90C3D4;
}

#titlesublist{
	height: 8%;
	width: 100%;
}

#containsublist{
	height: 17%;
	width: 100%;
	text-align: center;
}

#buttonlist{
	height: 5%;
	width: 100%;
}