@font-face {
	font-family: "Comic Sans MS";
	src: url('../font/LDFComicSans.ttf');
}
html, body {
	width: 100%;
	height: 100%;
	background-image: url('../img/bg.png');
}
body table td {
	font-family:'Comic Sans MS';
}
.title {
	color:#999494;
}
.platinumIcon {
	background-image:url('../img/platinumBadge.png');
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	vertical-align: middle;
	text-align: center;
	color: white;
	font-size: 18px;
}
.goldIcon {
	background-image:url('../img/goldBadge.png');
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	vertical-align: middle;
	text-align: center;
	color: white;
	font-size: 18px;
}
.circleIcon {
	background-image:url('../img/circle.png');
	background-repeat:no-repeat;
	background-size:75% auto;
	background-position:center;
}
.treeIcon {
	background-image:url('../img/tree.png');
	background-repeat:no-repeat;
	background-size:75% auto;
	background-position:center;
}