@font-face {
	font-family: "Comic Sans MS";
	src: url('../font/LDFComicSans.ttf');
}
html, body {
	width: 100%;
	height: 100%;
	background-image: url('../img/bg.png');
}
.arc canvas {
    max-width: 73%;
    background-color: #797979;
    border-radius: 50%;
    padding: 10px;
}
body table td {
	font-family:'Comic Sans MS';
    background-color: rgba(0,0,0,0);
}
.title {
	color:#999494;
}
.arc {
	width:100%;
	height:95%;
	font-family:'Comic Sans MS';
}
.intiCircle {
	background-image:url('../img/bgCircle2.png');
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center center;
}
.waktuTempuh {
	position: absolute;
	top: 30%;
	left: 0;
	width: 100%;
	font-size: 40px;
}
.outdoors {
	position: absolute;
	top: 40%;
	left: 0;
	width: 100%;
	font-size: 15px;
}
.target {
	width: 50%;
	height: 26%;
    left: 25%;
    top: 53%;
    position: absolute;
	color: white;
	background-image:url('../img/bgPanah.png');
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center center;
}
.scoreIcon {
	background-image:url('../img/scoreboard.png');
	background-repeat:no-repeat;
	background-size:75% auto;
	background-position:center;
}
.treeIcon {
	background-image:url('../img/tree.png');
	background-repeat:no-repeat;
	background-size:75% auto;
	background-position:center;
}